

<h1> <%= @user.name %> </h1>
<p> <%= @user.age %> </p>
<p> <%= @user.address %> </p> </br>

 <%= link_to "Back to All Users", users_path%> </br>
<%= link_to "delete", user_path(@user), method: :delete %>
<%= link_to "edit", edit_user_path(@user) %>

